.t-form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #333;
}
.form-container-item {
  height: 100%;
  color: #333;
}

.t-form-container .form-container-content {
  width: 55%;
  margin: 100px auto !important;
  border-radius: 6px;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.t-form-container .form-container-left-up {
  width: 45%;
  float: left;
  background: url(../../../../public/images/login/login1.jpeg) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  height: 74vh;
  border-radius: 6px 0px 0px 6px;
}
.form-left-content-up {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100%;
  padding-top: 50%;
}
.form-left-content-up h1 {
  font-size: 42px;
  color: #fff;
  text-align: center;
}
.form-left-content-up p {
  color: #fff;
  padding: 24px 16px 4px 0px !important;
  text-align: center;
}
.text-color {
  color: #fff !important;
  text-align: center;
  font-style: italic;
}
.text-color:hover {
  color: #d29c97 !important;
}
.form-container-right-up {
  width: 55%;
  float: left;
  padding: 12px 0 0;
  /* height: 74vh; */
  height: fit-content;
}
.form-container-right-up .form-content {
  width: 100% !important;
  padding-top: 10px;
}
.form-container-right-up .mt-2 {
  width: 75%;
  height: 36px !important;
  font-size: 14px;
  font-weight: 200;
  background-color: transparent;
  margin: 10px auto 4px !important;
  padding-top: 4px !important;
  padding-left: -6px !important;
}
.form-content input[type="text"],
.form-content input[type="password"] {
  width: 75%;
  /* height: 3rem; */
  padding: 0 8px;
  color: #333 !important;
  font-size: 14px;
  font-weight: 400 !important;
  background-color: #fff !important;

  border-bottom: 5px solid #b7b4b4 !important;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 0 auto 18px;
  display: block;
  outline: none;
}

.form-content input[type="checkbox"] {
  border: 1px solid #878686;
  width: 16px !important;
  height: 16px !important;
}

.form-content input[type="checkbox"]:checked {
  background-color: #d29c97;
  color: #fff;
}

.form-content input[type="text"]:hover,
.form-content input[type="password"]:hover {
  color: #000 !important;
  border-bottom: 5px solid #000 !important;
}
.form-content input::-webkit-input-placeholder {
  color: #535252 !important;
  font-weight: 400;
}

.form-content input:-ms-input-placeholder {
  color: #535252 !important;
}
.form-content input:hover::-webkit-input-placeholder {
  color: #000 !important;
  font-weight: 500;
}

.form-content input:hover:-ms-input-placeholder {
  color: #000 !important;
}
.form-content .text-err {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 8px !important;
  margin-top: -5px !important;
  text-align: center;
}

.t-btn {
  border-radius: 50px;
  border: 1px solid;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 15px;
}
.t-form-container .btn-signup {
  color: #333;
  /* text-transform: uppercase; */
  background-color: #d29c97 !important;
}
.t-form-container .btn-signup:hover {
  background-color: #fff;
  color: #000;
}
.t-form-container .btn-signup:active {
  transform: scale(94%);
}
.t-form-container .btn-signin {
  color: #fff;
  background: #000;
  text-transform: uppercase;
  display: block;
  margin: 15px auto !important;
  width: 70% !important;
}
.t-form-container .btn-signin:hover {
  background-color: #fff;
  color: #000;
}
.t-form-container .btn-signin:active {
  transform: scale(94%);
}
.t-form-container .btn-register {
  width: 68%;
  margin: 16px auto 10px !important;
  background-color: #000 !important;
  color: #feefef;
}
.t-form-container .btn-register:hover {
  background-color: #fff !important;
  color: #000 !important;
  /* opacity: 0.85 !important; */
}
.t-form-container .btn-register:active {
  transform: scale(94%);
}
